@using TestSignalR.Models.DTO
@using TestSignalR.Models.Helper
@{
    List<GetContactsRequest>? contacts = ViewData["contacts"] as List<GetContactsRequest>;
    var jsonContacts = JsonHelper.Serialize(contacts);
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messenger | Главная страница</title>
    <script>
        window.contacts = @Html.Raw(jsonContacts)
    </script>
    <style>
        /* styles for first load */
        #main-preloader {
            background-color: rgba(255, 0, 0, 0.701);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: white;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #spiner {
            color: rgb(228, 228, 228);
            width: 42px;
            height: 42px;
        }
    </style>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script type="module" src="/js/features/messenger/index.js"></script>
</head>
<body>
    <div id="main-preloader">
        <div role="status">
            <svg aria-hidden="true" id="spiner" class="animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
            </svg>
        </div>
    </div>
    <div onclick="closeModal('new-chat-modal')" id="new-chat-modal" class="absolute w-full h-[100vh] bg-gray-800/20 z-10 flex justify-center items-center invisible">
        <form onclick="stopPropagationFor(event)" onsubmit="preventDefaultFor(event)" id="find-user-form" class="bg-white min-w-[360px] w-1/4 p-8 flex flex-col gap-8 shadow-md shadow-slate-400 opacity-0">
            <h2 class="text-xl font-medium text-gray-700">Написать сообщение</h2>
            <div class="flex flex-col">
                <label for="username" class="text-xs text-gray-700 font-medium">Имя пользователя</label>
                <input type="text" id="username" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-100 focus:border-blue-100 block w-full py-1.5 px-3.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="flex gap-2">
                <button onclick="findUserByForm(this)" class="bg-blue-500 text-white w-fit px-6 cursor-pointer">Найти</button>
                <button class="text-gray-800 w-fit px-6 border border-gray-300 cursor-pointer" onclick="closeModal('new-chat-modal')">Отмена</button>
            </div>
        </form>
    </div>
    <div class="w-full h-[100vh] max-h-[100vh] flex">
        <div class="w-1/5 p-4 border-r border-r-gray-300 h-full flex flex-col">
            <div class="flex justify-between items-center border-b pb-4 border-b-gray-300 min-h-[60px]">
                <span class="text-xl font-medium text-gray-800">Сообщения</span>
                <button class="cursor-pointer" onclick="openModal('new-chat-modal')"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-pen-icon lucide-square-pen stroke-blue-500"><path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" /><path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z" /></svg></button>
            </div>
            <ul id="contacts-content" class="mt-2 grow overflow-auto">
                @* <li class="flex items-center gap-4 px-2 py-3 relative cursor-pointer hover:bg-gray-100">
                    <img src="/img/avatar/avatar_rabbit.webp" alt="" class="w-10 h-10">
                    <div class="flex flex-col overflow-hidden">
                        <span class="text-sm font-medium leading-4">Владимир Захаров</span>
                        <span class="text-sm leading-4 w-max">Привет, как дела? что делал вчера вечером?</span>
                    </div>
                    <div class="absolute right-2 top-2 bg-blue-500 w-8 h-4 rounded-full flex items-center justify-center text-white text-xs">1</div>
                </li>
                <li class="flex items-center gap-4 px-2 py-3 relative cursor-pointer hover:bg-gray-100">
                    <img src="/img/avatar/system/avatar_system.webp" alt="system" class="w-10 h-10">
                    <div class="flex flex-col overflow-hidden">
                        <span class="text-sm font-medium leading-4">Система</span>
                        <span class="text-sm leading-4 w-max">Поздравляем, вы успешно прошли регистрацию!</span>
                    </div>
                    <div class="absolute right-2 top-2 bg-blue-500 w-8 h-4 rounded-full flex items-center justify-center text-white text-xs">1</div>
                </li> *@
            </ul>
            <div class="flex justify-between items-center border-t pt-4 border-t-gray-300">
                <img src="@ViewData["avatar"]" alt="avatar" class="w-10 h-10">
                <span class="text-sm font-light">@ViewData["username"]</span>
                <button class="cursor-pointer" onclick="logout()"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out stroke-red-500"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" /><polyline points="16 17 21 12 16 7" /><line x1="21" x2="9" y1="12" y2="12" /></svg></button>
            </div>
        </div>
        <div id="chat-side" style="visibility: hidden" class="p-4 relative w-4/5 flex flex-col">
            <div class="flex justify-between border-b pb-4 border-b-gray-300 min-h-[60px]">
                <div id="chat-header" class="flex items-center gap-3">
                    <img id="chat-header-avatar" src="/img/avatar/avatar_rabbit.webp" alt="" class="w-10 h-10">
                    <div class="flex flex-col">
                        <span id="chat-header-username" class="text-lg leading-6">Владимир Захаров</span>
                        <span class="text-xs flex items-center gap-2">
                            <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                            В сети
                        </span>
                    </div>
                </div>
                <button class="cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis-icon lucide-ellipsis stroke-blue-500"><circle cx="12" cy="12" r="1" /><circle cx="19" cy="12" r="1" /><circle cx="5" cy="12" r="1" /></svg></button>
            </div>
            <ul id="chat-content" class="overflow-y-auto mt-auto text-gray-800 text-sm flex flex-col gap-1 overflow-x-hidden break-all">
                
            </ul>
            <div class="min-h-[60px] flex items-center gap-2 mt-4">
                <textarea onkeydown="textAreaInput(event)" id="chat-textarea" type="text" class="border border-gray-300 h-full w-full py-4 text-sm px-4 resize-none outline-none" placeholder="Начните вводить сообщение..."></textarea>
                <button onclick="sendMessage()" class="w-12 h-12 bg-blue-500 flex items-center justify-center rounded-full cursor-pointer pr-0.5 pt-0.5"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send-icon lucide-send stroke-white"><path d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z" /><path d="m21.854 2.147-10.94 10.939" /></svg></button>
            </div>
        </div>
    </div>
</body>
</html>
